body {
    margin: 0;
}

/* titre */
#titre {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}

/* taille globale de la grille */
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

/* grille */
.carre {
    width: 100vw;
    height: 40vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

/* chaque petit carré */
.petitCarre {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.petitCarre.x,
.petitCarre.cercle {
    cursor: not-allowed;
}

.petitCarre.x::before,
.petitCarre.x::after,
.petitCarre.cercle::before {
    background-color: black;
}

/* avant de cliquer */
.carre.x .petitCarre:not(.x):not(.cercle):hover::before,
.carre.x .petitCarre:not(.x):not(.cercle):hover::after,
.carre.cercle .petitCarre:not(.x):not(.cercle):hover::before {
    background-color: red;
}

/* X */
.petitCarre.x::before,
.petitCarre.x::after,
.carre.x .petitCarre:not(.x):not(.cercle):hover::before,
.carre.x .petitCarre:not(.x):not(.cercle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .18);
    height: var(--mark-size);
}

.petitCarre.x::before,
.carre.x .petitCarre:not(.x):not(.cercle):hover::before {
    transform: rotate(45deg);
}

.petitCarre.x::after,
.carre.x .petitCarre:not(.x):not(.cercle):hover::after {
    transform: rotate(-45deg);
}

/* Cercle */
.petitCarre.cercle::before,
.petitCarre.cercle::after,
.carre.cercle .petitCarre:not(.x):not(.cercle):hover::before,
.carre.cercle .petitCarre:not(.x):not(.cercle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.petitCarre.cercle::before,
.carre.cercle .petitCarre:not(.x):not(.cercle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.petitCarre.cercle::after,
.carre.cercle .petitCarre:not(.x):not(.cercle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

/* message de fin */
.Message-gagnant {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.Message-gagnant.show {
    display: flex;
}

/* bouton nouvelle partie */
.Message-gagnant button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.Message-gagnant button:hover {
    background-color: green;
    color: white;
    border-color: white;
}
